<div class="app">
  <!-- <div class="notifications">
    <hab-notifications
      [notifications]="state.notifications.all"
      [removeNotification]="removeNotification">
    </hab-notifications>
  </div> -->
  <div class="banner">
    <hab-banner></hab-banner>
  </div>
  <nav class="menu">
    <hab-side-nav [isSignedIn]="isSignedIn" *ngIf="!hideNav"></hab-side-nav>
  </nav>
  <nav class="main">
      <hab-header
      [appName]="state.app.name"
      [isUserNavOpen]="isUserNavOpen"
      [isSignedIn]="isSignedIn"
      [username]="username"
      [avatarUrl]="avatarUrl"
      [signOut]="signOut"
      [toggleUserNavMenu]="toggleUserNavMenu">
    </hab-header>
  </nav>
  <main>
    <router-outlet *ngIf="!isSigningIn" [class.centered]="hideNav"></router-outlet>
  </main>
  <nav class="footer">
    <hab-footer [currentYear]="state.app.currentYear"></hab-footer>
  </nav>
</div>

