.dialog {
  color: $hab-text;

  section {

    &.heading {
      h1 {
        font-size: rem(16);
      }

      hab-icon,
      h1 {
        display: inline-block;
      }
    }

    &.body {
      font-size: rem(14);
    }

    &.controls {
      font-size: rem(14);

      button,
      a {
        display: inline-block;
        margin-right: 18px;
        cursor: pointer;
      }
    }
  }

  .controls {
    margin-top: $default-margin;

    a {
      margin-left: $default-margin;
      cursor: pointer;
    }
  }
}

// Angular Material overrides
.cdk-overlay-dark-backdrop {
  background: $hab-blue-dark;
}
