@mixin shadow-float {
  box-shadow: 0 0 $default-margin / 2 0 $medium-gray;
}

@mixin shadow-panel {
  @include shadow-float;
  background-color: $white;
  border-radius: $default-radius;
  padding: $default-padding;
  height: auto;
  width: auto;
}

@mixin clickable-icon {
  cursor: pointer;
  width: 16px;
  height: 16px;
}

// %social-icons {
//   .social {

//     li {
//       margin-bottom: 0.625rem;
//     }

//     a {
//       background: url("/assets/images/icons-social.svg") no-repeat;
//       padding-left: 1.875rem;

//       &.github {
//         background-position: left top;
//       }

//       &.slack {
//         background-position: left -32px;
//       }

//       &.youtube {
//         background-position: left -64px;
//       }

//       &.rss {
//         background-position: left -94px;
//       }

//       &.twitter {
//         background-position: left bottom;
//       }
//     }
//   }
// }
