<div *ngIf="!isSignedIn">
  <a mat-button color="accent" class="button" href="{{ config['www_url'] }}/try">Get Started</a>
</div>
<div class="user-nav" *ngIf="isSignedIn">
  <span>
    <img src="{{avatarUrl}}" />
  </span>
  <ul class="dropdown shadowed" *ngIf="isOpen">
    <li class="username">
      <hab-icon symbol="github"></hab-icon>
      {{ username }}
    </li>
    <li>
      <a [routerLink]="['/profile']" (click)="toggleUserNavMenu()">Profile</a>
    </li>
    <li>
      <a href="#" (click)="signOut()">
        Sign Out
      </a>
    </li>
  </ul>
</div>
