<ul class="links">
  <li class="pull-left">
    <a class="logo" [routerLink]="['/']">
      <h1>{{appName}}</h1>
    </a>
  </li>
  <li>
    <a [routerLink]="['/explore']" [class.is-current-page]="area === 'explore'">Explore</a>
  </li>
  <li>
    <a href="{{config['tutorials_url']}}">Tutorials</a>
  </li>
  <li>
    <a href="{{config['docs_url']}}">Docs</a>
  </li>
  <li>
    <a href="{{config['community_url']}}">Community</a>
  </li>
  <li>
    <a href="{{config['www_url']}}/blog">Blog</a>
  </li>
  <li>
    <a [routerLink]="['/pkgs']" [class.is-current-page]="area === 'depot'">Builder</a>
  </li>
  <li class="sign-in" *ngIf="!isSignedIn">
    <a [routerLink]="['/sign-in']">Sign In</a>
  </li>
  <li class="user-nav-container">
    <hab-user-nav
      [isOpen]="isUserNavOpen"
      [isSignedIn]="isSignedIn"
      [username]="username"
      [avatarUrl]="avatarUrl"
      [signOut]="signOut"
      [toggleUserNavMenu]="toggleUserNavMenu">
    </hab-user-nav>
  </li>
</ul>
