hab-visibility-selector {

  .wrapper {
    display: flex;

    .active {
      background-color: $very-light-gray;
    }

    .selector {
      flex: 1;
      border: $default-border;
      padding: $default-padding;
      border-radius: $default-radius;

      h5 {
        margin-top: 0;
      }

      .mat-radio-label {
        position: relative;

        .mat-radio-container {
          position: absolute;
          top: 0;
          left: 0;
        }

        .mat-radio-label-content {
          white-space: normal;
          margin-left: $default-margin;
          padding-left: $default-padding;

          hab-icon {
            margin-left: $default-margin / 2;
          }
        }
      }

      &:first-of-type {
        margin-right: $default-margin;
      }
    }
  }
}
