.integrations-tab {

  .registries {
    .mat-grid-tile {
      overflow: unset;

      button {
        width: 355px;
        height: 54px;
        position: relative;

        &#docker,
        &#amazon {
          box-shadow: 0 2px 15px 0 rgba(0,0,0,0.08);
        }

        span:last-child {
          line-height: 55px;
          float: left;
        }

        hab-icon {
          width: 24px;
          height: 24px;
          margin: 0;
        }

        .icon {
          float: left;
          padding: 9px;
          margin-left: 10px;

          &.logo {
            margin-left: -16px;
            width: 68px;
            color: $white;
          }

          &.docker {
            background-color: $docker-blue;
          }

          &.google {
            background-color: $google-blue;
          }

          &.amazon {
            background-color: $amazon-orange;
          }

          &.azure {
            background-color: $azure-blue;
          }
        }
      }
    }
  }
}
