<div class="integrations-tab body">
  <div class="content">
    <section>
      <h3>
        <hab-icon symbol="docker"></hab-icon>
          Container Registries
      </h3>
      <p>
        When connecting a plan file to the Habitat Build Service, you can optionally export the result of your package build jobs
        (.hart file) to a Docker container and publish it to your registry account(s).
      </p>
      <mat-grid-list cols="2" gutterSize="16px" rowHeight="64" class="registries">
        <mat-grid-tile>
          <button id="docker" mat-raised-button (click)="addIntegration('docker')" class="mat-elevation-z">
            <span class="icon logo docker">
              <hab-icon symbol="docker"></hab-icon>
            </span>
            <span class="icon">
              <hab-icon symbol="add-circle"></hab-icon>
            </span>
            <span>
              <strong>Docker Hub</strong>
            </span>
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </section>
    <section>
      <ul class="action-list">
        <li class="heading">
          <h4>Registry Account</h4>
          <h4>Actions</h4>
        </li>
        <li class="none" *ngIf="(integrations | habKeysPipe).length === 0">
          <span class="none">
            No container registry accounts found.
          </span>
        </li>
        <ng-container *ngFor="let type of integrations | habKeysPipe">
          <li *ngFor="let integration of integrations[type]">
            <span class="column name">
              <hab-icon [symbol]="type"></hab-icon>
              <span>{{ integration }}</span>
            </span>
            <span class="column actions">
              <hab-icon symbol="cancel" title="Delete this integration" (click)="deleteIntegration(integration, type)"></hab-icon>
            </span>
          </li>
        </ng-container>
      </ul>
    </section>
  </div>
</div>
